@import url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
@import url('./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
@import url('./fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');

:root {
    --fondo: #F2E8D9;
    --botones: #361E13;
    --texto-principal: #1C120D;
    --texto-secundario: #9C6B4A;
    --texto-blanco: #FFFFFF;
    --verde-contraste: #668B8B;

    --fuente-manrope: 'Manrope', sans-serif;
    --fuente-inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-inter);
    color: var(--texto-secundario);
}

.bg-essentia {
    background-color: var(--fondo);
}

.titulo {
    font-family: var(--fuente-manrope);
    color: var(--texto-principal);
    font-size: 32px;
}

.texto {
    font-family: var(--fuente-inter);
    color: var(--texto-secundario);
    font-size: 20px;
}

.texto-blanco {
    color: var(--texto-blanco);
}

.button_menu {
    background-color: var(--botones);
    color: var(--texto-blanco);
}

.banner__container {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.banner__titulo {
    font-family: var(--fuente-manrope);
    color: var(--texto-blanco);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.banner__boton {
    background-color: var(--botones);
    color: var(--texto-blanco);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
}

.banner__boton:hover, .btn:hover {
    background-color: var(--texto-secundario);
    color: var(--texto-blanco);
}

.banner__texto {
    width: 50%;
}

footer .social-icons {
  margin-bottom: 1rem;
}

footer .social-icons i {
  margin: 0 .75rem;
  font-size: 1.5rem;
  color: var(--texto-secundario);
  vertical-align: middle;
}

footer .texto {
  font-size: 0.875rem;
}


.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 12px;
}

/* Extra small */
@media (width < 576px) {
    header {
        height: 100px;
    }
}

/* Small */
@media (width >= 576px) {
    header {
        height: 100px;
    }
}

/* Medium */
@media (width >= 768px) {
}

/* Large */
@media (width <= 992px) {
    .banner__container {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    }

    .banner__titulo {
        font-family: var(--fuente-manrope);
        color: var(--texto-blanco);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .banner__boton:hover, .btn:hover {
        background-color: var(--texto-secundario);
        color: var(--texto-blanco);
    }

    .banner__texto {
        width: 80%;
    }
}

/* Extra large */
@media (width >= 1200px) {
}

/* Extra extra large */
@media (width >= 1400px) {
}


