section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

section h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.datos__info {
    border-top: 2px solid #E5E8EB
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  object-fit: cover;
}

section.text-center.mb-5 > h2 {
  text-align: left;
}

section.text-center.mb-5 > p {
  text-align: center;
}


.fachada__img img {
    aspect-ratio: 16 / 9;
}
